<div class="mt-5 text-center">
    <MudText Typo="Typo.h5" Class="mb-4">@Title</MudText>
    <MudImage Src="/images/assets/empty_data_icon.png" Alt="No Content Image" />
</div>

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public string Title { get; set; }
}
