@page "/Tags"
@using Application.Queries.GetTagsWithPagination

<PageTitle>Tags</PageTitle>

<h1 class="mb-4 h2">Tags</h1>

<MudPaper Class="d-flex mb-5 p-3" Elevation="4">
    <MudSpacer />

    <MudForm Class="d-flex align-items-center" Model="Form" @ref="_mudForm">
        <MudTextField Class="rounded-r-0" @ref="_tagNameInput" @bind-Value="Form.Name" Immediate="true" Label="Tag Name" Variant="Variant.Outlined" Margin="Margin.Dense"
         Adornment="Adornment.End"  AdornmentIcon="@Icons.Material.Filled.Add" OnAdornmentClick="x => OnSubmit()" AdornmentAriaLabel="Add Tag" AdornmentColor="Color.Success"
         @onkeyup=@(async e =>{ if (e.Code == "Enter" || e.Code == "NumpadEnter") await OnSubmit(); }) />
    </MudForm>

</MudPaper>

@if (Tags is null)
{
    <LoadingCircular />
}
else if(Tags.Items.Any())
{
    <MudTable FixedHeader="true" Dense="true" Striped="true" Hover="true" Items="Tags.Items" SortLabel="Sort By" Elevation="0">
        <HeaderContent>
            <MudTh><MudTableSortLabel InitialDirection="SortDirection.Ascending" SortBy="new Func<TagDto, object>(x=>x.Id)">Id</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<TagDto, object>(x=>x.Name)">Name</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<TagDto, object>(x=>x.BlogRelationsCount)">Blogs</MudTableSortLabel></MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Id">@context.Id</MudTd>
            <MudTd DataLabel="Name">@context.Name</MudTd>
            <MudTd DataLabel="Blogs">@context.BlogRelationsCount</MudTd>
        </RowTemplate>
        <PagerContent>
            <MudTablePager PageSizeOptions="new int[]{10, 20, 50, 80, 100}" />
        </PagerContent>
    </MudTable>
}
else
{
    <NoContent Title="There is no tag to display!" />
}

@code
{
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await UpdateListAsync();
    }
}