@page "/Tags"
@using Application.Queries.GetTagsWithPagination
@using Application.Common.Models
@inject ITagHttpClient _client

<PageTitle>Tags</PageTitle>

<h1 class="mb-4 h2">Tags</h1>

<MudPaper Class="d-flex mb-5 p-3" Elevation="4">
    <MudSpacer />
    <MudButton class="ms-auto font-monospace" Href="/tags/insert" Variant="Variant.Filled" EndIcon="@(Icons.Material.Filled.Add)" Color="Color.Primary">Insert</MudButton>
</MudPaper>

@if (Tags is null)
{
    <LoadingCircular />
}
else if(Tags.Items.Any())
{
    <MudTable FixedHeader="true" Dense="true" Striped="true" Hover="true" Items="Tags.Items" SortLabel="Sort By" Elevation="0">
        <HeaderContent>
            <MudTh><MudTableSortLabel InitialDirection="SortDirection.Ascending" SortBy="new Func<TagDto, object>(x=>x.Name)">Name</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<TagDto, object>(x=>x.BlogRelationsCount)">Blogs</MudTableSortLabel></MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Name">@context.Name</MudTd>
            <MudTd DataLabel="Blogs">@context.BlogRelationsCount</MudTd>
        </RowTemplate>
        <PagerContent>
            <MudTablePager PageSizeOptions="new int[]{10, 20, 50, 80, 100}" />
        </PagerContent>
    </MudTable>
}
else
{
    <NoContent Title="There is no tag to display!" />
}

@code
{
    private PaginatedList<TagDto> Tags { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        Tags = await _client.GetWithPaginationAsync(new() { PageNumber = 1, PageSize = 10 });
    }
}