@page "/Blogs"
@using Application.Queries.GetBlogsWithPagination
@using Application.Common.Models
@inject IBlogHttpClient _client

<PageTitle>Blogs</PageTitle>

<h1 class="mb-4 h2">Blogs</h1>

<div class="d-flex p-3 rounded-1 shadow" style="background-color: #F5F5F5;">
    <a class="ms-auto btn btn-success font-monospace fw-bold" href="/blogs/insert"><span class="oi oi-plus pe-2"></span>Insert</a>
</div>

@if (Blogs is null)
{
    <div class="mt-5 d-flex justify-content-center align-items-center flex-column" style="gap: 10px;">
        <div class="spinner-border" role="status"></div>
        <div>Loading...</div>
    </div>
}
else if(Blogs.Items.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Poster</th>
                <th>Title</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Blogs.Items)
            {
                <tr>
                    <td>@item.PosterImage</td>
                    <td>@item.Title</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <NoContent Title="There is no blog to display!" />
}

@code
{
    private PaginatedList<BlogBriefDto> Blogs { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        Blogs = await _client.GetWithPaginationAsync(new() {ExcludeNonPublic = false, PageNumber = 1, PageSize = 10});
    }
}